* {
    padding: 0;
    margin: 0
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: lightskyblue;
    padding-bottom: 30px;
}

main {
    padding-top: 50px;
    padding-left: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
    background-color: #FFFFFF;
}

h1 {
    font-size: 42px;
    font-weight: 400;
}

h1 span {
    font-size: 48px;
    text-transform: uppercase;
    display: block;
    font-weight: 700;
}

.blue__font {
    color: #4299E1;
    font-weight: 400;
}

h2 {
    font-weight: 800;
    line-height: 30px;

}

.divider {
    width: 51px;
    height: 9px;
    background: #90CDF4;
    border-radius: 64px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.youtube {
    width: 65px;
    height: 75px;
    margin-left: -8px;
}

.skill {
    background-color: #63B3ED;
    padding: 5px;
    width: 50px;
    border-radius: 15px;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    padding-left: 7px;
    padding-right: 7px;
}

.skills ul {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 5px;
}

.skills li {
    padding-right: 15px;
    list-style-type: none;
    display: inline-block;
}

.last__contact__container a {
    text-decoration: none;
}

section>h2 {
    margin-top: 30px;
    margin-bottom: 15px;
}

.position {
    background: url('../img/Experience-Dot.png');
    background-repeat: repeat-y;
    padding-left: 30px;
    padding-bottom: 25px;
}

.education .position {
    background: none;
    padding-left: 0;
}

.position:last-child {
    padding-bottom: 0;
}

.experience .date {
    font-size: 14px;
}

.name__position {
    font-size: 14px;
}

.experience h3,
.education h3 {
    font-weight: 400;
}

.photo {
    width: 260px;
    border-radius: 50%;
    margin-right: 120px;
    margin-bottom: 50px;
    border: 1px solid #4299e159;
    object-fit: cover;
    image-rendering: optimizeQuality
}

.blue__background {
    background-color: #90CDF4;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.first__contact_container {
    margin-left: 30px;
}

.middle__contact_container {
    margin: 0 auto;
    background-color: #FBD38D;
}

.last__contact__container {
    margin-left: 50px;
}

.contacts__container a {
    color: #FFFFFF
}

.languages li {
    padding-left: 15px;
    margin-bottom: 10px;
}

.languages ul {
    list-style: none;
}

.languages ul li::before {
    content: "\2022";
    color: #4299E1;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}


.contacts__container {
    text-align: center;
    width: 280px;
    height: 30px;
    border-radius: 15px;
    padding-top: 10px;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 15px;
    z-index: 9999;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

.about__me {
    padding-top: 27px;
    padding-right: 20px;
}

pre {
    overflow-x: auto;
}

pre::-webkit-scrollbar {
    background: #b3bccc;
}

pre::-webkit-scrollbar-thumb {
    background: #eee;
    border-radius: 5px;
}

pre {
    padding: 0;
    font-size: 14px;
}

.copyright {
    position: relative;
    color: white;
    width: 210px;
    margin: 0 auto;
    font-weight: 800;
}

.full__width__divider {
    background: lightskyblue;
    width: 100%;
    height: 3px;
    margin-right: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}

article h2 {
    margin-bottom: 15px;
    ;
}

.portfolio {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.portfolio img {
    width: 80%
}

.portfolio h4 {
    margin-top: 15px
}

.hljs {
    background: none !important;
}

header {
    padding-top: 50px;
    padding-bottom: 50px;
}

footer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}

.decoration {
    position: relative;
}

@media (max-width: 992px) {
    #menuToggle {
        display: block;
        position: relative;
        top: 3px;
        left: 25px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle a {
        text-decoration: none;
        color: #FFFFFF;
        transition: color 0.3s ease;
        font-weight: 700;
    }

    #menuToggle a:hover {
        color: black;
    }


    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -4px;

        cursor: pointer;

        opacity: 0;
        z-index: 2;

        -webkit-touch-callout: none;
    }


    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: #FFFFFF;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }


    #menuToggle input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #FFFFFF;
    }


    #menuToggle input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }


    #menuToggle input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }


    #menu {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;

        background: lightskyblue;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;

        transform-origin: 0% 0%;
        transform: translate(-100%, 0);

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    #menu li {
        padding: 10px 0;
        font-size: 22px;
    }

    #menuToggle input:checked~ul {
        transform: none;
    }

    .desktop-menu {
        display: none;
    }

    .container {
        width: 668px;
    }
}

@media (min-width: 320px) {
    .portfolio h4 {
        font-size: 15px;
        text-align: center;
        padding-right: 35px;
    }

    .container {
        width: 320px;
    }

    .portfolio {
        flex-direction: column;
    }

    figure {
        margin-bottom: 30px;
    }

    .portfolio img {
        width: 90%
    }

    pre {
        margin-left: -20px;
        margin-top: -33px;
        font-size: 13px;
    }

    #menuToggle {
        top: 0;
        left: 0;
        padding-left: 25px;
    }

    .full__width__divider {
        margin-right: 33px;
    }

    #menuToggle input {
        left: 20px;
    }

    #menu {
        width: 245px;
        padding-bottom: 10px;
    }

    .github {
        width: 140px;
        margin-left: -9px;
    }

    .rs {
        width: 100px;
        filter: invert(1);
    }

    .copyright {
        font-size: 14px;
    }

    section {
        padding-right: 25px;
    }

    .contacts {
        background: url('../img/Ellipse-bg-left.png');
        background-repeat: no-repeat;
        background-position: left;
        margin-left: -35px;
    }

    .photo {
        margin-top: 15px;
        margin-left: 30px;
        margin-right: 0;
    }

    .contacts__container {
        width: 255px;
    }

    .middle__contact_container {
        margin-left: 20px;
    }

    .decoration__rectangle__3 {
        background: url('../img/Rectangle\ 3.png');
        width: 20px;
        height: 20px;
        right: -278px;
        top: 697px;
    }

    .decoration__rectangle__2 {
        background: url('../img/Rectangle\ 2.png');
        width: 20px;
        height: 20px;
        left: 263px;
        top: 80px;
    }

    .decoration__rectangle__1 {
        background: url('../img/Rectangle\ 1.png');
        width: 20px;
        height: 20px;
        top: 575px;
        left: 24px;
    }

    .decoration__ellipce__1 {
        background: url('../img/Ellipse\ 3.png');
        width: 20px;
        height: 20px;
        top: 0px;
        left: 100px;
    }

    .decoration__ellipce__2 {
        background: url('../img/Ellipse\ 4.png');
        width: 20px;
        height: 20px;
        top: 306px;
        right: -273px;
    }

    .decoration__ellipce__3 {
        background: url('../img/Ellipse\ 5.png');
        width: 20px;
        height: 20px;
        top: 314px;
        right: -140px;
    }

    .decoration__ellipce__4 {
        background: url('../img/Ellipse\ 6.png');
        width: 20px;
        height: 20px;
        top: 42px;
        left: 13px;
    }
}

@media (min-width: 450px) {
    .container {
        width: 450px;
    }

    pre {
        margin-left: -8px;
        margin-top: -33px;
        font-size: 14px;
    }

    #menu {
        width: 376px;
        padding-top: 125px;
        padding-bottom: 5px;
    }

    .contacts {
        padding-left: 50px;
        padding-top: 50px;
        margin-top: -18px;
    }
  
    .photo {
        margin-left: 40px;
        margin-right: 0;
    }

    .decoration__rectangle__3 {
        background: url('../img/Rectangle\ 3.png');
        width: 20px;
        height: 20px;
        right: -355px;
        top: 625px;
    }

    .decoration__rectangle__2 {
        background: url('../img/Rectangle\ 2.png');
        width: 20px;
        height: 20px;
        left: 263px;
        top: 80px;
    }

    .decoration__rectangle__1 {
        background: url('../img/Rectangle\ 1.png');
        width: 20px;
        height: 20px;
        top: 520px;
        left: -18px;
    }

    .decoration__ellipce__1 {
        background: url('../img/Ellipse\ 3.png');
        width: 20px;
        height: 20px;
        top: 0px;
        left: -27px;
    }

    .decoration__ellipce__2 {
        background: url('../img/Ellipse\ 4.png');
        width: 20px;
        height: 20px;
        top: 306px;
        right: -335px;
    }

    .decoration__ellipce__3 {
        background: url('../img/Ellipse\ 5.png');
        width: 20px;
        height: 20px;
        top: 314px;
        right: -64px;
    }

    .decoration__ellipce__4 {
        background: url('../img/Ellipse\ 6.png');
        width: 20px;
        height: 20px;
        top: 42px;
        left: 13px;
    }
}

@media (min-width: 788px) {
    .github {
        width: 250px;
        margin-left: -17px;
    }

    .portfolio h4 {
        text-align: center;
        padding-right: 75px;
    }

    .portfolio {
        flex-direction: row;
    }

    figure {
        margin-bottom: 0;
    }

    .portfolio img {
        width: 80%
    }

    #menu {
        width: 664px;
        display: flex;
        padding-bottom: 15px;
        padding-top: 125px;
        padding-left: 80px;
    }

    #menu li {
        margin-right: 15px;
    }

    .contacts {
        padding-left: 0;
        padding-top: 0;
        margin-top: 0;
    }

    .full__width__divider {
        margin-right: 60px;
    }

    .rs {
        width: 150px;
        filter: invert(1);
    }

    .container {
        width: 768px;
    }

    .contacts__container {
        text-align: center;
        width: 280px;
        height: 30px;
        border-radius: 15px;
        padding-top: 10px;
        font-weight: 800;
        color: #FFFFFF;
        margin-bottom: 15px;
        z-index: 9999;
    }

    .photo {
        width: 260px;
        border-radius: 50%;
        margin-right: 120px;
        margin-bottom: 15px;
        margin-right: 99px;
        margin-top: -125px;
    }

    section {
        flex: 0 1 calc(100% / 2 - 15px);
        padding-right: 0;
    }

    .contacts {
        text-align: right;
        background: url('../img/Ellipse-bg.png');
        background-repeat: no-repeat;
        background-position: right;
        background-size: 240px;
        background-size: 55%;
    }

    .decoration__rectangle__3 {
        background: url('../img/Rectangle\ 3.png');
        width: 20px;
        height: 20px;
        right: 0px;
        top: 0px;
    }

    .decoration__rectangle__2 {
        background: url('../img/Rectangle\ 2.png');
        width: 20px;
        height: 20px;
        left: 335px;
        top: 50px;
    }

    .decoration__rectangle__1 {
        background: url('../img/Rectangle\ 1.png');
        width: 20px;
        height: 20px;
        top: 407px;
        left: 192px;
    }

    .decoration__ellipce__1 {
        background: url('../img/Ellipse\ 3.png');
        width: 20px;
        height: 20px;
        top: 321px;
        left: -57px;
    }

    .decoration__ellipce__2 {
        background: url('../img/Ellipse\ 4.png');
        width: 20px;
        height: 20px;
        top: 349px;
        right: -350px;
    }

    .decoration__ellipce__3 {
        background: url('../img/Ellipse\ 5.png');
        width: 20px;
        height: 20px;
        top: 130px;
        right: -306px;
    }

    .decoration__ellipce__4 {
        background: url('../img/Ellipse\ 6.png');
        width: 20px;
        height: 20px;
        top: 42px;
        left: 13px;
    }
}

@media (min-width: 993px) {
    .container {
        width: 970px;
    }

    #menuToggle {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
    }

    nav li {
        margin-right: 15px;
    }

    nav a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: 700;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}